* { box-sizing: border-box; }

body{
  background: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header{
  background-color:rgba(48, 48, 48, 0.5);
  position: fixed;
  padding: 10px 0;
  width: 100%;
}

header nav{
  float: right;
  margin: 10px;
}

header nav a{
  color: white;
  margin-left: 10px;
  padding:10px 15px;
  text-decoration: none;
}

header nav a.active{
  background: #fed136;
  border-radius: 3px;
}

header .logo{
  font-size:22px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.home-wrapper{
  background: url("../images/bg_2.jpg"), no-repeat, center;
  background-size: cover;
  color: white;
}

#home{
  padding: 200px 0 150px;
  text-align: center;
}

#home h1{
  font-size: 68px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 40px;
}

#home p{
  font-size: 24px;
  margin-top: 40px;
}

#home .social{
  margin-top: 80px;
  }

#home .social a{
  background: black;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

#home .social a:hover{
  background: #fed136;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition: all .3s;
}

#servicios{
  text-align: center;
}

#servicios h2{
  font-size: 32px;
  margin: 50px;
  text-align: center;
}

#servicios .box{
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 23%;
}

#video{
  background: black;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

#portafolio h2{
  font-size: 32px;
  margin-bottom: 80px;
  text-align: center;
}

#portafolio .box{
  background-color: white;
  display: inline-block;
  margin: 1px;
  text-align: center;
  width: 31%;
}

#portafolio .box img{
  width: 100%;
}

#contacto{
  background-color:#303030;
  background-image:url(../images/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#contacto h2{
  color: white;
  font-size: 32px;
}

#contacto input{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  width: 400px;
}

#contacto textarea{
  margin: 20px 0;
  padding: 20px;
  width: 400px;
}

#contacto button{
  background-color: #fed136;
  border-color: #fed136;
  border-radius: 3px;
  color: white;
  font-size:18px;
  font-weight:bold;
  line-height: 1;
  padding: 20px 40px;
}

section{
  padding: 80px 0;
}

footer{
  font-size: 18px;
  padding: 80px 0;
  text-align: center;
}

